{% extends 'base.html.twig' %}

{% block body %}
    <section class="service_details pt_100 xs_pt_70 pb_100 xs_pb_70">
        <div class="container mt_60">
            <div class="row">
                <div class="wow fadeInLeft" data-wow-duration="1s">
                    <h1 class="mb-4">{{ service }}</h1>
                    <div class="service_dstails_img">
                        <span><i class="fas fa-heartbeat" aria-hidden="true"></i></span>
                        <img src="/images/{{ image }}.jpg" alt="service" class="img-fluid w-100">
                    </div>
                    <div class="tf_service_details_text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has
                            been the industry's is a
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make
                            a type specimen book Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                            tempore, cum soluta nob
                            is est eligendi optio cumque nihil impedit quo minus.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's is a
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make
                            a type specimen book Et harum.</p>

                        <ul>
                            <li>Dramatically syndicate alternative infrastructures through backward-compatible.</li>
                            <li>economically sound information without maintainable alignments.</li>
                            <li>Collaboratively syndicate world-class information after principle- centered.</li>
                            <li>Collaboratively network bricks-and-clicks best practices via economically sound.
                            </li>
                            <li>Compellingly generate resource maximizing imperatives through.</li>
                        </ul>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's is a
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make
                            a type specimen book Et harum.</p>

                        <h3>Capabilities</h3>
                        <p>Aorem Ipsum is simply dummy text of the printing anda
                            typesetting industry. Lorem Ipsum has been the indust
                            ry's is astandard dummy Lorem Ipsum is simply dummy
                            ypesetting industry.</p>
                        <p>Aorem Ipsum is simply dummy text of the printing anda
                            typesetting industry. Lorem Ipsum has been the indust
                            ry's is astandard dummy Lorem Ipsum is simply dummy
                            ypesetting industry.</p>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-sm-6">
                            <a class="service_details_gallery venobox" data-gall="gallery01"
                               href="images/service_dtls-3.jpg">
                                <img src="images/service_dtls-3.jpg" alt="gallery1" class="img-fluid w-100">
                                <div class="overlay">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <a class="service_details_gallery venobox" data-gall="gallery01"
                               href="images/service_dtls-4.jpg">
                                <img src="images/service_dtls-4.jpg" alt="gallery1" class="img-fluid w-100">
                                <div class="overlay">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <a class="service_details_gallery venobox" data-gall="gallery01"
                               href="images/service_dtls-5.jpg">
                                <img src="images/service_dtls-5.jpg" alt="gallery1" class="img-fluid w-100">
                                <div class="overlay">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-sm-6">
                            <div class="tf_service_dtls_process">
                                <i class="fas fa-eye" aria-hidden="true"></i>
                                <h5>Appointment</h5>
                                <p>Lorem ipsum dolor sit amet
                                    sectetur adipiscng elit sed doing
                                    smod tempor incididunt.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="tf_service_dtls_process">
                                <i class="fas fa-heartbeat" aria-hidden="true"></i>
                                <h5>Instant Checkup</h5>
                                <p>Lorem ipsum dolor sit amet
                                    sectetur adipiscng elit sed doing
                                    smod tempor incididunt.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="tf_service_dtls_process">
                                <i class="fad fa-capsules"></i>
                                <h5>Get Report</h5>
                                <p>Lorem ipsum dolor sit amet
                                    sectetur adipiscng elit sed doing
                                    smod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
