<!DOCTYPE html>
<html lang="{{ app.request.local | default('en') }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/images/favicone.png">
        <link rel="stylesheet" href="/css/all.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/venobox.min.css">
        <link rel="stylesheet" href="/css/custom_spacing.css">
        <link rel="stylesheet" href="/css/select2.min.css">
        <link rel="stylesheet" href="/css/slick.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <twig:Topbar />
        <twig:Menu />
        {% block body %}{% endblock %}
        <twig:Footer />
        <twig:ScrollUpButton />

        <script src="/js/jquery-3.7.0.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/Font-Awesome.js"></script>
        <script src="/js/jquery.countup.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/select2.min.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/sticky_sidebar.js"></script>
        <script src="/js/venobox.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
