<section class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 d-none d-md-block">
                <ul class="topbar_link d-flex flex-wrap">
                    <li><a href="callto:123456789"><i class="fas fa-phone-alt"></i>+1 (700) 230-0035</a></li>
                    <li><a href="mailto:example@gmail.com"><i class="fas fa-envelope"></i>support@gmail.com</a></li>
                    <li>
                        <p><i class="fas fa-map-marker-alt"></i>2767 Sunrise Street, NY 1002, USA</p>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 d-md-none d-lg-block">
                <ul class="topbar_icon d-flex flex-wrap">
                    <li><a href="{{ path('app_index') }}#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="{{ path('app_index') }}#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="{{ path('app_index') }}#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="{{ path('app_index') }}#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
